<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BVHTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CGUtility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>DotPlacementGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PaintStrokeData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>StrokeAnalysis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SwiftColorPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SwiftGL-Demo-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftGL-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftHttp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftYoutubePlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4177F921E08074A00A4AD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4177FA81E0808CD00A4AD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4177FC01E080AC500A4AD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4177FD51E080B2B00A4AD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4177FE61E080B8000A4AD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C417801B1E080DA200A4AD32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46C17461E06AEE6007CE6A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C391071C7B5BB70018A1C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E565921CE1B5E8004D1D70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E565C51CE25DC8004D1D70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2A18FDE1997F8E000830CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AB3AB41944F05700655A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AB3ABF1944F05700655A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EE432E1953BE91007CC56F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F663131ADD7417003C1925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
